@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Caveat:wght@500&display=swap');
@import "./parcials/reset";
@import "./parcials/header";
@import "./parcials/maininicio";
@import "parcials/footer";
@import "parcials/galeria";





.main__tec{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.tec__title{
    text-align: center;
    font-family: Caveat;
    font-size: 3rem;
    color: #009DA2;
}