@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Caveat:wght@500&display=swap');
@import "./parcials/reset";
@import "./parcials/header";
@import "./parcials/maininicio";
@import "parcials/footer";




/*GALERIA*/

.main__gal{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.gal__title{
    padding-bottom: 2rem;
}

.div__gal{
    margin: 0.5rem;
}

#grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.7rem;
    row-gap: 0.7rem; 

}

.gal__item{
    width: 100%;
    align-items: center;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* animation scale-up-center */

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


/*TECNICAS*/

.main__tec{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.tec__title{
    text-align: center;
    font-family: Caveat;
    font-size: 3rem;
    color: #009DA2;
}