.main__tec{
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 3rem;
    .tec__title{
        text-align: center;
        font-family: Caveat;
        font-size: 3rem;
        color: #009DA2;
    }
}
